*{
    margin: 0%;
    padding: 0%;
    color: black;
    font-family: 'Poppins' , sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
}
.header{
    height: 15vh;
}
.upper-header{
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
}
.icons-01{
    display: flex;
    gap: .75em;
    margin-top: 1.5vw;
}
.icons-01 i{
    font-size: 1.5vw;
}
.lower-header a{
text-decoration: none;
color: black;
font-size: .79vw;
}
.lower-header{
display: flex;
justify-content:center;
gap: 2.25em;
margin-top: 2vw;
}
.blink {
        animation: blinker 1.5s linear infinite;
        color: #BE1E2E;
        font-family: sans-serif;
        
}
@keyframes blinker {
        50% {
            opacity: 0;
        }
}
/* -------------------- dropdown hover-1 ---------------- */
.dropbtn-1{
        background-color: transparent;
        font-size: 16px;
        border: none;
}    
.dropdown-1{
        position: relative;
        display: inline-block;
} 
.dropbtn-1 :hover{
    border-bottom: 2px solid black;
}    
.dropdown-content-1{
        display: none;
        position: absolute;
        background-color: white;
        min-width: 37vw;
        height: 30vh;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        line-height: 1.5;
        font-size: .95em;
        margin-top: 1vw;
        margin-left: -14vw;
}    
.dropdown-content-1 a{
        color: rgba(0, 0, 0, 0.555);
        text-decoration: none;
        display: block;
        margin-top: .5vw;
}
.dropdown-content-1 li{
        list-style: none;
     }       
.dropdown-1:hover .dropdown-content-1{
    display: flex;
    border-bottom: 1px solid black;
}
 .dropdown-content-1 img{
    height: 20vh;
    margin: 2vw 2vw 0 5vw;
} 
    /*------------------------- dropdown hover-2 -------------------  */
.dropbtn-2{
    background-color: transparent;
    font-size: 16px;
    border: none;
}    
.dropdown-2{
    position: relative;
    display: inline-block;
}   
.dropbtn-2 :hover{
    border-bottom: 2px solid black;
} 
.dropdown-content-2{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 47vw;
    height: 30vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 1.5;
    font-size: .95em;
    margin-top: 1vw;
    margin-left: -9vw;
}    
.dropdown-content-2 a{
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    display: block;
    margin-top: .5vw;
}
.dropdown-content-2 li{
    list-style: none;
 }       
.dropdown-2:hover .dropdown-content-2{
display: flex;
}
.dropdown-content-2 img{
height: 25vh;
margin: 1vw 2vw 0 5vw;
} 
  /*------------------------ drpdown hover-3 ------------------  */
.btn3{
    background-color: transparent;
    font-size: 16px;
    border: none;
}   
.btn3 :hover{
    border-bottom: 2px solid black;
}
/* ------------------ dropdown hover-4 ----------------------- */
.dropbtn-4{
    background-color: transparent;
    font-size: 16px;
    border: none;
}    
.dropdown-4{
    position: relative;
    display: inline-block;
}   
.dropbtn-4 :hover{
    border-bottom: 2px solid black;
} 
.dropdown-content-4{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 22vw;
    height: 20vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 1.5;
    font-size: .95em;
    margin-top: 1vw;
    margin-left: -13vw;
}    
.dropdown-content-4 a{
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    display: block;
    margin-top: .5vw;
}
.dropdown-content-4 li{
    list-style: none;
 }       
.dropdown-4:hover .dropdown-content-4{
display: flex;
}
/* ----------------------- dropdown hover-5 --------------------- */
.dropbtn-5{
    background-color: transparent;
    font-size: 16px;
    border: none;
}    
.dropdown-5{
    position: relative;
    display: inline-block;
}   
.dropbtn-5 :hover{
    border-bottom: 2px solid black;
} 
.dropdown-content-5{
    display: none;
    position: absolute;
    background-color: white;
    min-width: vw;
    height: 50vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 1.5;
    font-size: .95em;
    margin-top: 1vw;
    margin-left: -36vw;
}    
.dropdown-content-5 a{
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    display: block;
    margin-top: .5vw;
}
.dropdown-content-5 li{
    list-style: none;
 }       
.dropdown-5:hover .dropdown-content-5{
display: flex;
}
.dropdown-content-5 img{
height: 20vh;
margin: 1vw 2vw 0 5vw;
}   
/* ------------------------------dropdown hover-6------------------------------ */
.dropbtn-6{
    background-color: transparent;
    font-size: 16px;
    border: none;
}    
.dropdown-6{
    position: relative;
    display: inline-block;
}   
.dropbtn-6:hover{
    border-bottom: 2px solid black;
} 
.dropdown-content-6{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 35vw;
    height: 26vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 1.5;
    font-size: .95em;
    margin-top: 1vw;
    margin-left: -22vw;
}    
.dropdown-content-6 a{
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    display: block;
    margin-top: .5vw;
}
.dropdown-content-6 li{
    list-style: none;
 }       
.dropdown-6:hover .dropdown-content-6{
display: flex;
}
.dropdown-content-6 img{
height: 20vh;
margin: 1vw 2vw 0 5vw;
}   
/* --------------------dropdown hover-7------------------- */
.dropbtn-7{
    background-color: transparent;
    font-size: 16px;
    border: none;
}    
.dropdown-7{
    position: relative;
    display: inline-block;
}   
.dropbtn-7:hover{
    border-bottom: 2px solid black;
} 
.dropdown-content-7{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 60vw;
    height: 35vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 1.5;
    font-size: .95em;
    margin-top: 1vw;
    margin-left: -41vw;
}    
.dropdown-content-7 a{
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    display: block;
    margin-top: .5vw;
}
.dropdown-content-7 li{
    list-style: none;
 }       
.dropdown-7:hover .dropdown-content-7{
display: flex;
}
.dropdown-content-7 img{
height: 25vh;
margin: 1.5vw 0vw 0 5vw;
}   
/* ----------------------- dropdown hover-8 -------------------- */
.dropbtn-8{
    background-color: transparent;
    font-size: 16px;
    border: none;
}    
.dropdown-8{
    position: relative;
    display: inline-block;
}   
.dropbtn-8:hover{
    border-bottom: 2px solid black;
} 
.dropdown-content-8{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 47vw;
    height: 25vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 1.5;
    font-size: .95em;
    margin-top: 1vw;
    margin-left: -43vw;
}    
.dropdown-content-8 a{
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    display: block;
    margin-top: .5vw;
}
.dropdown-content-8 li{
    list-style: none;
 }       
.dropdown-8:hover .dropdown-content-8{
display: flex;
}
.dropdown-content-8 img{
height: 20vh;
margin: 1vw 2vw 0 5vw;
} 
/* ----------------------------- Dropdown hover-9 ----------------- */
.dropbtn-9{
    background-color: transparent;
    font-size: 16px;
    border: none;
}    
.dropdown-9{
    position: relative;
    display: inline-block;
}   
.dropbtn-9:hover{
    border-bottom: 2px solid black;
} 
.dropdown-content-9{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 53vw;
    height: 31vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 1.5;
    font-size: .95em;
    margin-top: 1vw;
    margin-left: -56vw;
}    
.dropdown-content-9 a{
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    display: block;
    margin-top: .5vw;
}
.dropdown-content-9 li{
    list-style: none;
 }       
.dropdown-9:hover .dropdown-content-9{
display: flex;
}
.dropdown-content-9 img{
height: 20vh;
margin: 1vw 0 0 10vw;
} 
/* ---------------------------- 10th hover ------------------- */
.dropbtn-10{
    background-color: transparent;
    font-size: 16px;
    border: none;
}    
.dropdown-10{
    position: relative;
    display: inline-block;
}   
.dropbtn-10:hover{
    border-bottom: 2px solid black;
} 
.dropdown-content-10{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 49vw;
    height: 20vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 1.5;
    font-size: .95em;
    margin-top: 1vw;
    margin-left: -57vw;
}    
.dropdown-content-10 a{
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    display: block;
    margin-top: .5vw;
}
.dropdown-content-10 li{
    list-style: none;
 }       
.dropdown-10:hover .dropdown-content-10{
display: flex;
}
.dropdown-content-10 img{
height: 12vh;
margin: 1vw 0 0 11vw;
} 
/* ----------------------------carousel----------------------- */
.carousel-inner button{
    background-color: #393636;
    border-radius: 30px;
    height: 7vh;
    color: white;
    width: 9vw;
    border: none;
    margin-bottom: -9vw;
    font-size: .9em;
}
.carousel-item button:hover{
    background-color:rgba(245, 224, 206, 0.884);
}
/* --------------------section-2 Unstitched header ------------------*/
.div-header a{
    text-decoration: none;
}
.heading{
    width: 50%;
}
.div-links{
    width: 50%;
}
/* ---------------------- section-2 Unstitched main img--------------------- */
.main-img{
    transition: ease-out 1.1s;
}
.main-img:hover{
    transform:scale(1.1) ;
} 
/* --------------------------- secton-2 img slider----------------------------- */
/* .slider-wrapper .image-list{
    display: grid;
    grid-template-columns: repeat(10,1fr);
} */
.slider-wrapper .image-list .image-item{
    width: 13.5vw;
    height: 50vh;
}
.change{
    width: 14vw;
    height: 50vh;
    margin-left: -14.5vw;
}
.change:hover{
    opacity: 0;
}
.image-list a{
    text-decoration: none;
    /* padding-top: -30vw; */
}
.image-list p:hover{
    color: peachpuff;
}
/* --------------------------Section-5---------------------- */
.blocks{
    margin-left: 27vw;
    display: flex;
    flex-direction: row;
}
.block-1 a{
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}
.block-1{
    border:transparent;
    border-radius: 50%;
    height: 23vh;
    background-image: linear-gradient(#c9b7c9,#fb9ccb,#ff98a9) ;
    width: 11vw;
}
.block-1:hover{
    border: 2px solid black; 
  
}
.block-2 a{
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}
.block-2{
    border: transparent;
    border-radius: 50%;
    height: 23vh;
    width: 11vw;
    background-image: linear-gradient(#f09aa9,#cb99cc,#ab99cb) ;
}
.block-2:hover{
    border: 2px solid black; 
  
}
.block-3 a{
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}
.block-3{
    border: transparent;
    border-radius: 50%;
    height: 23vh;
    width: 11vw;
    background-image: linear-gradient(#ccc0f2,#cc9ccf,#a899a8) ;
}
.block-3:hover{
    border: 2px solid black; 
  
}
.block-4 a{
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}
.block-4{
    border: transparent;
    border-radius: 50%;
    height: 23vh;
    width: 11vw;
    background-image: linear-gradient(#f199a6,#c999cb,#ab99cb) ;
}
.block-4:hover{
    border: 2px solid black; 
}
.best-seller .image-list .image-item{
    width: 10vw;
    height: 30vh;
    transition: 1.02s ease ease-out;
}
.best-seller .image-list .image-item:hover{
    transform: scale(1.02);

}
.video-1{
  background-size: cover;
}
.viDeos{
margin-inline: 3vw;    
}
.container {
    position: relative;
    width: 50%;

  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color:  #00000080;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    width: 100%;
    left: 0;
    text-decoration: underline;
  }
  
  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
hr.line{
    color: white; 
    margin-top: 12vw; 
    width: 70%; 
    margin-left: 3vw; 
    border: 1px solid rgb(255, 255, 255); 
}
.end-div{
    background-color: #ffdfd4;
    justify-content: space-around;
    height: 15vh;
}
.content{
    justify-content: space-around;
}
ul li{
    list-style: none;
}
ul{
    margin-top: 2vw;
}
ul li a{
    text-decoration: none;
    color: rgb(104, 98, 98);
    line-height: 2.25;
    font-size: .95em;
}
.img-icons{
    justify-content: space-around;
}
.img-icons img{
    margin-left: -15vw;
    margin-top: .75vw;
}
.img-icons i{
    margin: .75vw;
}
.copy-right{
    justify-content: space-around;
    color: #878787;
    height: 8vh;
    font-size: .90em;
}